@page "/"  
<PageTitle>Welcome page</PageTitle>

<MudContainer>
    <MudPaper Elevation="1">
        <div style="display: flex; justify-content: center;">
            <MudImage Src="DocAss_Logo.svg" Class="rounded filter-shadow" Alt="DocAssistant Logo" Width="100" Height="100" Elevation="0"/>
        </div>

        <MudText Typo="Typo.h2" Align="Align.Center">Welcome to DocAssistant.Charty</MudText>
    </MudPaper>
    <MudPaper Elevation="1">
    </MudPaper>
</MudContainer>